.text-success {
	color: $color-success;
}
.bg-success {
	background-color: $color-success;
	color: $color-reverse;
}
.text-info {
	color: $color-info;
}
.bg-info {
	background-color: $color-info;
	color: $color-reverse;
}
.text-success {
	color: $color-success;
}
.bg-success {
	background-color: $color-success;
	color: $color-reverse;
}
.text-danger {
	color: $color-danger;
}
.bg-danger {
	background-color: $color-danger;
	color: $color-reverse;
}
.text-warning {
	color: $color-warning;
}
.bg-warning {
	background-color: $color-warning;
	color: $color-reverse;
}