$color-list: $color-primary $color-info $color-danger $color-success $color-warning;
$color-name-list: primary info danger success warning;

@mixin colors($color, $color-name) {
	.text-#{$color-name} {
		color: $color;
	}
	.bg-#{$color-name} {
		background-color: $color;
	}
}


@for $color-index from 1 through 5 {
	@include colors(nth($color-list, $color-index),
				    nth($color-name-list, $color-index));
}
