*,
*:before,
*:after {
	box-sizing: border-box;
}

html {
	font-size: $html-font-size;
}
body {
	margin: $margin-0;
	padding: $pad-0;
	font-size: $font-size;
	color: $color-font;
	position: relative;
	font-family: $font-family;
    line-height: $line-height;
    background-color: $container-bg-color;
    overflow-y: scroll;
}

input {
	background-color: transparent;
}

input[type=text],
input[type=password],
input[type=number],
input[type=tel],
input[type=email],
input[type=url],
textarea {
	padding: $pad-0;
	margin: $margin-0;
	border: $border-0;
	outline: none;
	font-family: $font-family;
	font-size: $font-size;
	color: $color-font;
	display: block;
	&::-ms-clear {
	    display: none;
	}
}

textarea {
	resize: vertical;
}

button, input[type=button], input[type=submit], input[type=reset] {
	font-family: $font-family;
	font-size: $font-size;
	margin: $margin-0;
	outline: none;
	color: $color-font;
	display: block;
	&::-moz-focus-inner {
		border: 0;
		padding: 0; 
	}
}

ul, ol, li {
	margin: $margin-0;
	padding: $pad-0;
}
li {
	list-style: none;
}

.n-text-left {
	text-align: left;
	input {
		text-align: left;
	}
}
.n-text-right {
	text-align: right;
	input {
		text-align: right;
	}
}
.n-float-left {
	float: left;
}
.n-float-right {
	float: right;
}

.n-comp-label-top > .n-row {
	> .n-comp-label,
	> .n-comp {
		width: 100%;
	}
}

.n-comp-label-left {
}

.n-control {
	line-height: $line-height;
	height: $line-height;
}

.n-input-addon {
	display: table-cell;
    position: relative;
    width: 1%;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

.n-clickable {
	cursor: pointer;
}

.n-link {
	color: $color-link;
}

.n-normal-line {
	position: absolute;
    border: $border-0;
    border-top: $border-1;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: $margin-0;
    padding: $pad-0;
}

.n-focus-line {
	position: absolute;
    border: $border-0;
    border-top: 2px solid $color-focus;
    left: 50%;
    bottom: 0;
    width: 0;
    margin: $margin-0;
    padding: $pad-0;
	transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
    &.focus {
    	left: 0;
    	width: 100%;
    }
}

.n-validation {
	display: block;
	position: relative;
	color: $color-danger;
	font-size: $validation-font-size;
	line-height: $validation-line-height;
	.n-validation-result-icon {
		float: left;
		height: $validation-line-height;
		line-height: $validation-line-height;
		&.n-validation-result-info {
			color: $color-info;
		}
		&.n-validation-result-warning {
			color: $color-warning;
		}
	}
	.n-validation-result {
		display: block;
		position: relative;
		margin-left: 0.2rem;
		&.n-validation-result-info {
			color: $color-info;
		}
		&.n-validation-result-warning {
			color: $color-warning;
		}
	}
}
.n-row {
	> .n-validation {
		float: left;
		padding-left: $pad-15;
		padding-right: $pad-15;
		width: 100%;
	}
}
