@mixin n-button-style-content($color, $bg-color, $name) {
	background-color: $bg-color;
	color: $color;
	border-color: darken($bg-color, 10%);
	&:hover {
		border-color: darken($bg-color, 10%);
		background-color: darken($bg-color, 5%);
	}
	&:focus, &.focus, &.focus:focus,
	&:active, &.active, &.active:active,
	&.focus:active, &.active:focus {
		border-color: darken($bg-color, 15%);
		background-color: darken($bg-color, 10);
	}
}
@mixin n-button-style($color, $bg-color, $name) {
	&.n-btn-#{$name} {
		@include n-button-style-content($color, $bg-color, $name);
	}
}

.n-btn {
	position: relative;
	display: inline-block;
	outline: none;
	background-color: transparent;
	white-space: nowrap;
	touch-action: manipulation;
	user-select: none;
	line-height: calc(#{$line-height} - 2px);
	border: $border-1;
	border-radius: $border-radius;
	padding: $pad-0 $pad-15;
	&.n-button-link {
		border: $border-0;
		&:hover {
			text-decoration: underline;
		}
	}
	.n-stack-icon {
		margin: $margin-0 $margin-3;
	}
	@include n-button-style($color-link, transparent, link);
	@include n-button-style($color-font, $container-bg-color, default);
	@include n-button-style($color-reverse, $color-primary, primary);
	@include n-button-style($color-reverse, $color-success, success);
	@include n-button-style($color-reverse, $color-warning, warning);
	@include n-button-style($color-reverse, $color-info, info);
	@include n-button-style($color-reverse, $color-danger, danger);
}

.n-button {
	position: relative;
	display: inline-block;
	.n-button-dropdown {
		position: absolute;
		display: none;
		left: 0;
		top: calc(100% + 1px);
		line-height: $line-height;
		margin: $margin-0;
		padding: $pad-0;
		min-width: 200px;
		border: $border-1;
		border-radius: $border-radius;
		box-shadow: 0 2px 4px rgba(0, 0, 0, .175);
		background-color: $container-bg-color;
		li > .n-label {
			padding-left: $pad-15;
			padding-right: $pad-15;
			&:hover {
				background-color: $color-hover;
			}
		}
	}
	&.n-button-group {
		> button:first-child {
			border-top-right-radius: 0;
		    border-bottom-right-radius: 0;
		    width: auto;
		}
		> button:last-of-type {
			position: relative;
			border-left: 0;
		    border-top-left-radius: 0;
		    border-bottom-left-radius: 0;
		    width: auto;
		    padding: $pad-0;
		}
	}
	&.n-dropdown-open {
		.n-button-dropdown {
			display: block;
		}
	}
}