.n-check {
	position: relative;
	display: inline-block;
	cursor: pointer;
	margin-right: $margin-15;
	word-break: break-word;
	outline: none;

	.n-check-box {
		position: absolute;
		display: inline-block;
		width: 0.2rem;
		vertical-align: middle;
		padding: 0.05rem 0;
		outline: none;
		.n-check-box-rect {
			border: 2px solid $color-font;
			border-radius: 3px;
			width: 100%;
		    height: 100%;
		    display: block;
		    overflow: hidden;
		    &:before {
			    border-left-width: 3px;
			    border-left-style: solid;
			    border-left-color: $color-font;
			    border-bottom-width: 3px;
			    border-bottom-style: solid;
			    border-bottom-color: $color-font;
			    border-radius: 3px;
			    display: block;
			    width: 0;
			    height: 0;
			    transform: rotate(-45deg);
			    content: '';
			    box-sizing: border-box;
			    top: -8px;
			    left: -5px;
			    position: relative;
			    transition: height 0.25s linear, width 0.25s linear 0.2s;
			}
		}
	}
	.n-check-text {
		position: relative;
		display: inline-block;
		vertical-align: middle;
		height: inherit;
	}
	&:focus {
		.n-check-box .n-check-box-rect,
		.n-check-box .n-check-box-rect:before {
			border-color: $color-focus;
			border-left-color: $color-focus;
			border-bottom-color: $color-focus;
		}
		.n-check-text {
			color: $color-focus;
		}
	}
	&.n-checked {
		.n-check-box .n-check-box-rect:before {
			width: 0.2rem;
			height: 0.2rem;
		}
	}
	&.n-check-text-left {
		.n-check-text {
			margin-right: 2 * $margin-15;
		}
		.n-check-box {
			right: 0;
		}
	}
	&.n-check-text-right {
		.n-check-text {
			margin-left: 2 * $margin-15;
		}
	}
	&.n-check-no-text .n-check-box {
		position: relative;
	}
}

.n-array-check {
	position: relative;
	display: inline-block;
	&.n-array-check-vertical {
		> .n-check {
			display: block;
		}
	}
}

@mixin n-toggle-style($color, $name) {
	&.n-toggle-#{$name} {
		background-color: $color;
		border-color: $color;
	}
}

.n-toggle {
	position: relative;
	display: inline-block;
	cursor: pointer;
	outline: none;
	padding: $pad-2 $pad-0;
	.n-toggle-button {
		display: block;
		position: relative;
		width: 0.45rem;
		height: 0.26rem;
		border-radius: 0.14rem;
		background-color: lighten($color-base-blue-grey, 20%);
		border: $border-1-width solid lighten($color-base-blue-grey, 20%);
		&:before {
			display: block;
			content: '';
			position: absolute;
			background-color: $container-bg-color;
			width: 0.22rem;
			height: 0.22rem;
			top: 0.01rem;
			right: 0.01rem;
			border-radius: 0.12rem;
			border: $border-1;
			transition: all 0.3s ease;
		}
		&.n-checked {
			background-color: $color-primary;
			border-color: $color-primary;
			@include n-toggle-style($color-success, success);
			@include n-toggle-style($color-warning, warning);
			@include n-toggle-style($color-info, info);
			@include n-toggle-style($color-danger, danger);
			&:before {
				right: 0.2rem;
			}
		}
	}
}