.n-check {
	position: relative;
	display: inline-block;
	cursor: pointer;
	margin-right: $margin-15;
	word-break: break-word;
	outline: none;

	.n-check-box {
		position: absolute;
		display: inline-block;
		width: 0.2rem;
		vertical-align: middle;
		padding: 0.05rem 0;
		outline: none;
		.n-check-box-rect {
			border: 2px solid $color-font;
			border-radius: 3px;
			width: 100%;
		    height: 100%;
		    display: block;
		    overflow: hidden;
		    &:before {
			    border-left-width: 3px;
			    border-left-style: solid;
			    border-left-color: $color-font;
			    border-bottom-width: 3px;
			    border-bottom-style: solid;
			    border-bottom-color: $color-font;
			    border-radius: 3px;
			    display: block;
			    width: 0;
			    height: 0;
			    transform: rotate(-45deg);
			    content: '';
			    box-sizing: border-box;
			    top: -8px;
			    left: -5px;
			    position: relative;
			    transition: height 0.25s linear, width 0.25s linear 0.2s;
			}
		}
	}
	.n-check-text {
		position: relative;
		display: inline-block;
		vertical-align: middle;
		height: inherit;
	}
	&:focus {
		.n-check-box .n-check-box-rect,
		.n-check-box .n-check-box-rect:before {
			border-color: $color-focus;
			border-left-color: $color-focus;
			border-bottom-color: $color-focus;
		}
		.n-check-text {
			color: $color-focus;
		}
	}
	&.n-checked {
		.n-check-box .n-check-box-rect:before {
			width: 0.2rem;
			height: 0.2rem;
		}
	}
	&.n-check-text-left {
		.n-check-text {
			margin-right: 2 * $margin-15;
		}
		.n-check-box {
			right: 0;
		}
	}
	&.n-check-text-right {
		.n-check-text {
			margin-left: 2 * $margin-15;
		}
	}
	&.n-check-no-text .n-check-box {
		position: relative;
	}
}

.n-array-check {
	position: relative;
	display: inline-block;
	&.n-array-check-vertical {
		> .n-check {
			display: block;
		}
	}
}