body[class*=n-dialog-open-] {
	overflow-y: hidden;
}
.n-dialog-backdrop {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	visibility: hidden;
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	outline: 0;
	opacity: 0;
	transition: visibility 0s 0.4s, opacity 0.4s linear;
	&.n-dialog-show {
		visibility: visible;
		opacity: 1;
		transition: visibility 0s, opacity 0.4s linear;
	}
	.n-dialog-backdrop-bg {
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
	}
}
.n-dialog {
	display: block;
	position: relative;
	width: auto;
	margin: 0.3rem auto;
	border-radius: $border-radius;
	&.n-dialog-auto-width {
		width: calc(100% - 100px);
	}
	.n-dialog-content {
		display: block;
		position: relative;
		background-color: transparent;
		border-radius: $border-radius;
		outline: none;
		box-shadow: 0 0.03rem 0.06rem rgba(0, 0, 0, 0.2);
	}
}
@media #{$media-sm} {
	.n-dialog {
		width: 6rem;
	}
}
@media #{$media-md} {
	.n-dialog {
		width: 8rem;
	}
}
@media #{$media-lg} {
	.n-dialog {
		width: 10rem;
	}
}
