.n-select {
	position: relative;
	display: block;
	border-collapse: collapse;
	@include float-layout-container();
	.n-select-items {
		display: block;
		position: relative;
		float: left;
		width: calc(100% - 0.48rem);
		@include float-layout-container();
		.n-select-item {
			float: left;
			border: $border-1;
			border-radius: $border-radius;
			line-height: 0.24rem;
			padding-left: 0.1rem;
			padding-right: 0.1rem;
			margin-top: 0.02rem;
			margin-bottom: 0.02rem;
			margin-right: 0.03rem;
			.n-select-item-text {
				line-height: 0.24rem;
				display: inline-block;
				float: left;
				width: calc(100% - 0.18rem);
			}
			.n-select-item-remove-icon {
				float: right;
				width: 0.18rem;
				line-height: 0.24rem;
			}
		}
	}
	input {
		display: table-cell;
		width: 100%;
	}
	input[readonly] {
		cursor: pointer;
	}
	.n-input-addon {
		display: block;
		width: auto;
		vertical-align: auto;
		float: right;
		width: 0.48rem;
		.n-icon {
			line-height: $line-height;
			height: $line-height;
			margin-left: $margin-3;
			margin-right: $margin-3;
		}
	}

	.n-dropdown {
		width: 100%;
		&.n-list {
			.n-list-item {
				.n-check {
					float: right;
					margin-right: 0;
					margin-left: 0.1rem;
					&.n-checked {
						.n-check-text:before {
							display: inline-block;
							font: normal normal normal 14px/1 FontAwesome;
							font-size: inherit;
							text-rendering: auto;
							-webkit-font-smoothing: antialiased;
							-moz-osx-font-smoothing: grayscale;
							content: '\f00c';
						}
					}
					.n-check-box {
						display: none;
					}
				}
			}
		}
	}
}