.n-select {
	position: relative;
	display: block;
	border-collapse: collapse;
	outline: none;
	@include float-layout-container();
	.n-select-items {
		display: block;
		position: relative;
		float: left;
		width: calc(100% - 0.48rem);
		cursor: pointer;
		@include float-layout-container();
		.n-select-item {
			float: left;
			border: $border-1;
			border-radius: $border-radius;
			line-height: 0.24rem;
			padding-left: 0.1rem;
			padding-right: 0.1rem;
			margin-top: 0.02rem;
			margin-bottom: 0.02rem;
			margin-right: 0.03rem;
			.n-select-item-text {
				line-height: 0.24rem;
				display: inline-block;
				float: left;
				width: calc(100% - 0.18rem);
			}
			.n-select-item-remove-icon {
				float: right;
				width: 0.18rem;
				line-height: 0.24rem;
			}
		}
		> .n-select-item-text,
		> .n-select-placeholder-text {
			display: block;
		}
		> .n-select-placeholder-text {
			opacity: 0.7;
		}
	}
	.n-input-addon {
		display: block;
		width: auto;
		vertical-align: auto;
		float: right;
		width: 0.48rem;
		.n-icon {
			line-height: $line-height;
			height: $line-height;
			margin-left: $margin-3;
			margin-right: $margin-3;
		}
	}

	.n-dropdown {
		width: 100%;
		&.n-list {
			.n-list-item {
				.n-check {
					display: none;
					+ .n-list-item-text {
						width: 100%;
					}
					&.n-checked + .n-list-item-text {
						width: calc(100% - 0.3rem);
						&:after {
							display: block;
							font: normal normal normal 14px/1 FontAwesome;
							font-size: inherit;
							text-rendering: auto;
							-webkit-font-smoothing: antialiased;
							-moz-osx-font-smoothing: grayscale;
							content: '\f00c';
							position: absolute;
							top: 0;
							right: -0.3rem;
							width: 0.3rem;
							line-height: $line-height;
							height: $line-height;
							text-align: right;
						}
					}
				}
			}
		}
	}
}
// IE 9
@media screen and (min-width:0\0) and (min-resolution: .001dpcm) { 
	.n-select .n-dropdown.n-list .n-list-item .n-check.n-checked + .n-list-item-text:after {
		top: 0.15rem;
	}
}
// IE 10 & 11
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.n-select .n-dropdown.n-list .n-list-item .n-check.n-checked + .n-list-item-text:after  { 
		top: 0.15rem;
	}
}