.n-text {
	position: relative;
	display: block;
	border-collapse:collapse;
	&.has-addon {
		display: table;
		vertical-align: middle;
		input {
			display: table-cell;
			float: left;
		}
	}
	input {
		display: block;
		width: 100%;
	}
}