.n-text-area {
	position: relative;
	display: block;
	border-collapse:collapse;
	textarea {
		width: 100%;
		@for $index from 1 to 10 {
			&.n-rows-#{$index} {
				height: $line-height * $index;
			}
		}
	}
}