// font
$html-font-size:									100px;
$font-size:											0.14rem;
$font-family:										'Helvetica Neue', Helvetica, 'Microsoft YaHei', Arial, sans-serif;
$line-height:										0.2rem;

// color
$color-primary:										#1E88E5;
$color-success:										#43A047;
$color-warning:										#FB8C00;
$color-danger:										#e53935;
$color-info:										#C0CA33;
$color-font:										#757575;
$color-border:										#546E7A;
$container-bg-color:								#fff;

// margin
$margin-0:											0;
$margin-1:											1px;
$margin-2:											2px;
$margin-3:											3px;
$margin-4:											4px;
$margin-5:											5px;
$margin-6:											6px;
$margin-7:											7px;
$margin-8:											8px;
$margin-9:											9px;
$margin-10:											10px;
$margin-11:											11px;
$margin-12:											12px;
$margin-13:											13px;
$margin-14:											14px;
$margin-15:											15px;
$margin-16:											16px;
$margin-17:											17px;
$margin-18:											18px;
$margin-19:											19px;
$margin-20:											20px;

$margin--0:											0;
$margin--1:											-1px;
$margin--2:											-2px;
$margin--3:											-3px;
$margin--4:											-4px;
$margin--5:											-5px;
$margin--6:											-6px;
$margin--7:											-7px;
$margin--8:											-8px;
$margin--9:											-9px;
$margin--10:										-10px;
$margin--11:										-11px;
$margin--12:										-12px;
$margin--13:										-13px;
$margin--14:										-14px;
$margin--15:										-15px;
$margin--16:										-16px;
$margin--17:										-17px;
$margin--18:										-18px;
$margin--19:										-19px;
$margin--20:										-20px;

// padding
$pad-0:												0;
$pad-1:												1px;
$pad-2:												2px;
$pad-3:												3px;
$pad-4:												4px;
$pad-5:												5px;
$pad-6:												6px;
$pad-7:												7px;
$pad-8:												8px;
$pad-9:												9px;
$pad-10:											10px;
$pad-11:											11px;
$pad-12:											12px;
$pad-13:											13px;
$pad-14:											14px;
$pad-15:											15px;
$pad-16:											16px;
$pad-17:											17px;
$pad-18:											18px;
$pad-19:											19px;
$pad-20:											20px;